@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

body {
    height: 100%;
    overflow: hidden;
}

#container-chat {
    width: 100%;
    position: absolute;
    bottom: 0;

    font-family: 'Asap';
    color: white;
    text-shadow: 0.25rem 0.25rem black;
    font-size: 3rem;

    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.chat {
    margin: 0.5rem;
    min-height: 4.5rem;
}

.chat-action {
    font-style: oblique;
}

.chat img {
    vertical-align: middle;
    max-height: 4rem;
    width: auto
}

.chat .name {
    padding-right: 0.05em;
}

.chat .message {
    overflow-wrap: break-word;
    white-space: normal;
}

.chat .emoji {
    height: 3rem;
}

.chat .badge {
    padding: 0.25rem;
    height: 2.5rem;
}
